:root {
--basic-black: #000000;
--basic-sky-blue: #81B3D2;
--sky-blue-place: #669EC0;
--sky-blue-press: #5496BD;
--basic-white: #FFFFFF;
--basic-dark-grey: #333333;
--basic-light-grey: #EEEEEE;
--basic-extra-light-grey: #F2F2F2;
--light-grey-place: #EBEBEB;
--basic-light-brown: #766357;
--basic-dark-brown: #604E43;
--basic-extra-dark-brown: #503E33;

--special-button-border: #E5E5E5;
--special-grey: #A9A9A9;
--special-dark-grey: #666666;
--special-light-grey: #CACACA;
--special-grey: #A9A9A9;
--special-normal-grey: #888888;
--special-footer-background: rgba(255, 255, 255, 0.9);
--special-box-shadow: rgba(0, 1, 1, 0.2);
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans","Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-extra-light-grey);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*GRID*/

.page{
  height: 100%;
}

.wrapper {
  width: 1200px;
  background-color: var(--basic-white);
  margin: 0 auto;
  min-height: 100%;
  box-shadow: 0px 5px 15px var(--special-box-shadow);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-navigation {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav ul{
}

/*FLEX*/

.site-navigation{
  list-style: none;
  font-weight: bold;
  line-height: 26px;
  display: flex;
  padding: 15px 72px;
  margin-bottom: 0;
  margin-top: 0;
}

.site-navigation li {
  width: 227px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4){
  text-align: right;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-sky-blue);
}

.main-promo {
  text-align: center;
  background-image: url("../img/shape.svg"),
  url("../img/background-index.jpg");
  background-repeat: no-repeat;
  background-position: bottom,center;
  background-color: var(--basic-sky-blue);
  min-height: 500px;
}

.main-promo img{
  margin-top: 78px;
}

.introduction {
  text-align: center;
  padding-top: 51px;
  margin: 0;
}

.introduction h2 {
  line-height: 26px;
  margin: 0;
  font-weight: 700;
}

.introduction p {
  line-height: 26px;
  font-weight: 400;
  padding-top: 44px;
  padding-bottom: 51px;
  margin: 0;
}

.features-list,
.features-item,
.features-subtype {
  list-style: none;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  margin: 0;
}

.first-item {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--basic-sky-blue);
}

.first-item img {
}

.first-item ul {
  padding: 0;
}

.features-under{
  display: flex;
  text-align: center;
}

.features-block,
.third-item{
  text-align: center;
  width: 400px;

}

.features-block{
  background-color: var(--basic-sky-blue);
  color: var(--basic-white);
  padding-top: 46px;
}

.features-block h3,
.third-item h3 {
  font-weight: bold;
  font-size: 21px;
}

.features-block h3{
  padding: 0px 120px 25px;
  margin: 0;
}

.features-block span{
  padding-top: 2px;
}

.features-block p{
padding: 12px 48px 0px;
}

.second-item h3{
  /*padding: 0px 120px 13px;*/
}

.third-item{
  background-color: var(--basic-light-grey);
}

.third-item h3{
  padding: 45px 137px 24px;
  margin: 0;
}

.third-item span{
}

.third-item p{
padding: 12px 60px 40px;
}

.features-subtype{
  width: 400px;
  padding-bottom: 68px;
  background-color: var(--basic-white);
}

/*.features-under li:nth-child(1){
  background-image: url(../img/house.svg);
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

.features-subtype h4{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 21px;
  margin-top: 22px;

}

.features-subtype h4::before{
  content: "";
  background-repeat: no-repeat;
  width:77px;
  height:77px;
  margin: 35px auto 25px;

}

.features-subtype:nth-child(1) h4::before{
  background-image: url(../img/house.svg);
}

.features-subtype:nth-child(2) h4::before{

  background-image: url(../img/burger.svg);

}

.features-subtype:nth-child(3) h4::before{
  background-image: url(../img/gift.svg);
}

.features-subtype p{
  padding-left: 55px;
  padding-right: 55px;
}

.second-item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
}

.second-item img {
}

.appointment {
  position: relative;
  text-align: center;
}
.appointment h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  padding: 30px 22px 9px 12px;
}

.form-wrapper{
  position: absolute;
  width: 568px;
  left: 50%;
  background-color: var(--basic-white);
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 50px 0px 46px;
}

.appointment-form{
  display: flex;
  flex-direction: column;
}

.appointment-info {
  line-height: 24px;
}

.appointment-datain {
  font-weight: bold;
  line-height: 18px;
}

.text {
  box-sizing: border-box;
  width: 346px;
  padding: 9px 13px;
  margin-left: 22px;
  text-transform: uppercase;
  font-weight: inherit;
  line-height: 26px;
  background-color: var(--basic-extra-light-grey);
  border: 2px solid var(--basic-extra-light-grey);
}

.text::placeholder {
  color: var(--basic-black);
}

.text:hover {
  background-color: var(--light-grey-place);
  border: 2px solid var(--light-grey-place);
}

.text:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special-button-border);
  outline: none;
}

.text:active {
}

.button-info-index {
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  border: none;

  margin-top: 30px;
  box-sizing: border-box;
  width: 568px;
  padding: 30px 15px 30px 15px;
  text-transform: uppercase;
}

.button-info:hover,
.button-info:focus {
  background-color: var(--basic-dark-brown);
}

.button-info:active {
  background-color: var(--basic-extra-dark-brown);
}

.button-find {
  color: var(--basic-white);
  background-color: var(--basic-sky-blue);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;

}

.button-find:active {
  background-color: var(--sky-blue-press);
}

.appointment-item {
  position: relative;
  font-weight: bold;
  line-height: 26px;
  padding: 0px 0px 19px 0px;
}

.parents,
.childs {
  width: 50%;
}

.input-parents,
.input-childs {
  width: 38px;
}

.button {
  background-color: var(--special-dark-grey);
  font-weight: bold;
  line-height: 26px;
}

.calendar {
  position: absolute;
  right: 64px;
  top: 12px;
  background-color: transparent;
  border: none;
  padding: 0;
  }

.calendar:focus path,
.calendar:hover path {
  fill: var(--basic-black);
}

.calendar:active path {
  fill: var(--basic-sky-blue);
}

.calendar:focus {
  outline: none;
}



.map {
  text-align: center;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--special-footer-background);
  margin-top: -121px;
}

.contacts {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-left: 75px;
  }

.contacts p:first-child{
  margin-top: 17px;
  margin-bottom: 10px;
}

.contacts-phone{
  margin-top: 10px;
  margin-bottom: 36px;
}

.contacts-phone a{
  color: var(--basic-black);
}

.social ul {
  list-style: none;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 0 ;
  margin-top: 31px;
}

.social-button{
  display: flex;
  background-color: var(--basic-sky-blue);
  height: 28px;
  width: 26px;
  padding: 10px;
  margin-right: 6px;
}

.twitter {
  margin-left: 7px;
}

.social-button img{
  margin: auto;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 75px;
}

.footer-copyright p{
  display: flex;
  align-items: center;
}

.footer-copyright a{
  margin-left: 8px;
}

/*---------- CATALOG ------------*/


.filtres {
  background-color: var(--basic-sky-blue);
}

.filtres-form {
  font-size: 16px;
  color: var(--basic-white);
  display: flex;
  flex-direction: row;
}

.filtres-form div:nth-child(1),
.filtres-form div:nth-child(2) {
  text-align: left;
}

.filtres-form div:nth-child(3) {
  text-align: center;
}

.filtres-submit {
}

.filtres-item {
  display: flex;
  flex-direction: column;
  padding: 27px 72px;
}

.filtres-form div:nth-child(3){
}

.filtres-item h3 {
font-weight: bold;
font-size: inherit;
}

.result h2,
.result-info,
.findings h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.result{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}

.pushbuttons {
}

.result ul{
  display: flex;
}

.result-value {
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.findings ul{
  padding: 0;
}

.findings li{
  display: flex;
  flex-direction: row;
  padding: 30px 73px;
}

.findings-item {
  list-style: none;
  padding: 0;
}

.findings-item img {
  height: 90px;
  width: 135px;
}

.findings-item-info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 3;
}

.button-info-catalog{
  color: var(--basic-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-sky-blue);
  width: 110px;
}

.button-bron{
  color: var(--basic-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-light-brown);
  width: 142px;
}

/* -----Лишние обозначение-----*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
