:root {
--basic-black: #000000;
--basic-sky-blue: #81B3D2;
--sky-blue-place: #669EC0;
--sky-blue-press: #5496BD;
--basic-white: #FFFFFF;
--basic-dark-grey: #333333;
--basic-light-grey: #EEEEEE;
--basic-extra-light-grey: #F2F2F2;
--light-grey-place: #EBEBEB;
--basic-light-brown: #766357;
--basic-dark-brown: #604E43;
--basic-extra-dark-brown: #503E33;
--basic-background: #406C93;
--basic-dark-blue: #1C4F80;

--special-button-border: #E5E5E5;
--special-grey: #A9A9A9;
--special-grey-toggle: #ABABAB;
--special-dark-grey: #666666;
--special-light-grey: #CACACA;
--special-grey: #A9A9A9;
--special-normal-grey: #888888;
--special-footer-background: rgba(255, 255, 255, 0.9);
--special-box-shadow: rgba(0, 1, 1, 0.2);
--special-form-box-shadow: rgba(0, 1, 1, 0.15);
--special-white-text: rgba(255, 255, 255, 0.3);
--special-black-text: rgba(0, 0, 0, 0.3);
}

body {
  min-width: 1200px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans","Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-extra-light-grey);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*GRID*/

.page{
  height: 100%;
}



.wrapper {
  width: 1200px;
  background-color: var(--basic-white);
  margin: 0 auto;
  min-height: 100%;
  box-shadow: 0px 5px 15px var(--special-box-shadow);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-navigation {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav ul{
}

/*FLEX*/

.site-navigation{
  list-style: none;
  font-weight: bold;
  line-height: 26px;
  display: flex;
  padding: 15px 72px;
  margin-bottom: 0;
  margin-top: 0;
}

.site-navigation li {
  width: 227px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4){
  text-align: right;
}

.site-navigation a,
.findings-item-name {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.findings-item-name:hover {
  color: var(--basic-sky-blue);
}

.site-navigation a:active,
.findings-item-name:active {
  color: var(--special-black-text);
}


.main-promo {
  text-align: center;
  background-image: url("../img/shape.svg"),
  url("../img/background-index.jpg");
  background-repeat: no-repeat;
  background-position: bottom,center;
  background-color: var(--basic-background);
  min-height: 500px;
}

.main-promo img{
  margin-top: 78px;
}

.introduction {
  text-align: center;
  padding-top: 51px;
  margin: 0;
}

.introduction h2 {
  line-height: 26px;
  margin: 0;
  font-weight: 700;
}

.introduction p {
  line-height: 26px;
  font-weight: 400;
  padding-top: 44px;
  padding-bottom: 51px;
  margin: 0;
}

.features-list,
.features-item,
.features-subtype {
  list-style: none;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  margin: 0;
}

.first-item {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--basic-sky-blue);
}

.first-item ul {
  padding: 0;
}

.features-under{
  display: flex;
  text-align: center;
}

.features-block,
.third-item,
.fourth-item,
.fifth-item {
  text-align: center;
  width: 400px;

}

.features-block{
  background-color: var(--basic-sky-blue);
  color: var(--basic-white);
  padding-top: 46px;
}

.features-block h3,
.third-item h3,
.fourth-item h3,
.fifth-item h3 {
  font-weight: bold;
  font-size: 21px;
}

.features-block h3{
  padding: 0px 120px 25px;
  margin: 0;
}

.features-block span{
  padding-top: 2px;
}

.features-block p{
padding: 12px 48px 0px;
}

.third-item,
.fourth-item,
.fifth-item {
  background-color: var(--basic-light-grey);
}

.third-item h3,
.fourth-item h3,
.fifth-item h3 {
  padding: 45px 137px 24px;
  margin: 0;
}

.third-item p,
.fourth-item p {
  padding: 12px 60px 40px;
}
.fifth-item p {
  padding: 12px 71px 40px;
}

.features-subtype{
  width: 400px;
  padding-bottom: 68px;
  background-color: var(--basic-white);
}

.features-subtype h4{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 21px;
  margin-top: 22px;
}

.features-subtype h4::before{
  content: "";
  background-repeat: no-repeat;
  width:77px;
  height:77px;
  margin: 35px auto 25px;
}

.features-subtype:nth-child(1) h4::before{
  background-image: url("../img/house.svg");
}

.features-subtype:nth-child(2) h4::before{
  background-image: url("../img/burger.svg");
}

.features-subtype:nth-child(3) h4::before{
  background-image: url("../img/gift.svg");
  width: 64px;
}

.features-subtype p{
  padding-left: 55px;
  padding-right: 55px;
}

.second-item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
}

.second-item img {
}

.appointment {
  position: relative;
  text-align: center;
}

.appointment h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  padding: 30px 22px 9px 12px;
}

.form-wrapper{
  position: absolute;
  width: 568px;
  left: 50%;
  background-color: var(--basic-white);
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 53px;
  box-shadow: 0px 7px 15px var(--special-form-box-shadow);
}

.appointment-form{
  display: flex;
  flex-wrap: wrap;
}

.appointment-info {
  line-height: 24px;
}

.appointment-datain {
  font-weight: bold;
  line-height: 18px;
}

.text {
  box-sizing: border-box;
  width: 346px;
  padding: 4px 13px;
  margin-left: 21px;
  text-transform: uppercase;
  font-weight: inherit;
  line-height: 26px;
  background-color: var(--basic-extra-light-grey);
  border: 2px solid var(--basic-extra-light-grey);
}

.text::placeholder {
  color: var(--basic-black);
}

.text:hover {
  background-color: var(--light-grey-place);
  border: 2px solid var(--light-grey-place);
}

.text:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special-button-border);
  outline: none;
}

.button-info-index {
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
  font-family: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  border: none;
  margin-top: 30px;
  box-sizing: border-box;
  width: 568px;
  padding: 30px 15px 30px 15px;
  text-transform: uppercase;
}

.button-info-index :hover,
.button-info-index :focus {
  background-color: var(--basic-dark-brown);
}

.button-info-index :active {
  background-color: var(--basic-extra-dark-brown);
}

.button-find {
  width: 100%;
  margin-top: 25px;
  padding: 16px;
  color: var(--basic-white);
  background-color: var(--basic-sky-blue);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.button-find:active {
  background-color: var(--sky-blue-press);
}

.appointment-item {
  position: relative;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 29px;
}

.appointment-item:nth-child(2) .text {
  margin-left: 18px;
}

.appointment-item:nth-child(2) {
  margin-bottom: 30px;
}

.parents,
.childs {
  width: 50%;
}

.parents {
  text-align: left;
}

.childs {
  text-align: right;
}

.parents label {
  margin-right: 38px;
}

.childs label {
  margin-right: 24px;
}

.input-parents,
.input-childs {
  width: 38px;
  margin-left: -4px;
  margin-right: -4px;
}

.button-symbol {
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: var(--basic-extra-light-grey);
  border: none;
}

.minus svg {
  margin-bottom: 2px;
}

.plus svg {
  margin-bottom: -2px;
}

.calendar {
  position: absolute;
  right: 9px;
  top: 7px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.calendar:focus path,
.calendar:hover path,
.minus:hover rect,
.minus:focus rect,
.plus:hover path,
.plus:focus path{
  fill: var(--basic-black);
}

.calendar:active path,
.minus:active rect,
.plus:active path {
  fill: var(--basic-sky-blue);
}

.calendar:focus,
.minus:focus,
.plus:focus {
  outline: none;
}

.map {
  text-align: center;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--special-footer-background);
  margin-top: -126px;
  padding-top: 5px;
}

.footer-catalog {
  margin-top: 10px;
}

.contacts {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-left: 75px;
  }

.contacts p:first-child{
  margin-top: 17px;
  margin-bottom: 10px;
}

.contacts-phone{
  margin-top: 10px;
  margin-bottom: 36px;
}

.contacts-phone a{
  color: var(--basic-black);
}

.social ul {
  list-style: none;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 0 ;
  margin-top: 31px;
}

.social-button{
  display: flex;
  background-color: var(--basic-sky-blue);
  height: 28px;
  width: 26px;
  padding: 10px;
  margin-right: 6px;
}

.twitter {
  margin-left: 7px;
}

.social-button img{
  margin: auto;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 75px;
}

.footer-copyright p{
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.footer-copyright a{
  margin-left: 8px;
}


/*---------- CATALOG ------------*/


.filtres {
  background-color: var(--basic-dark-blue);
  background-image: url("../img/background-catalog.jpg");
}

.filtres-form {
  color: var(--basic-white);
  padding: 26px 72px 12px 72px;
  display: flex;
  flex-direction: row;
}

.infrastructure,
.type {
  text-align: left;
}

.infrastructure {
  margin-right: 120px;
}

.filtres-submit {
}

.filtres-item {
  display: flex;
  flex-direction: column;
}

.filtres-item h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.filter-input-label {
  position: relative;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.filter-input-label::before {
  content: "";
  position: absolute;
  left: -40px;
  display: block;
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/checkbox-off.svg");
}

.filter-input:checked + .filter-input-label::before {
  width: 27px;
  background-image: url("../img/icons/checkbox-on.svg");
}

.filter-input:disabled + .filter-input-label::before {
  background-image: url("../img/icons/checkbox-disabled-off.svg");
}

.filter-input:checked:disabled + .filter-input-label::before {
  background-image: url("../img/icons/checkbox-disabled-on.svg");
}

/* Выбор цены */

.filter-range {
  text-align: center;
  margin-right: 0;
  margin-left: auto;
}

.filter-range-title {
  width: 180px;
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: var(--basic-white);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  line-height: 21px;
  padding-left: 56px;
  padding-top: 4px;
}

.price-controls .max-price {
  padding-right: 20px
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  line-height: 21px;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 33px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: var(--special-grey-toggle);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: var(--basic-dark-blue);
  transform: scale(1.2);
}


.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-left: 83px;
  padding: 6px 30px;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-white);
  text-transform: uppercase;
  background: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: var(--basic-black);
  background: var(--basic-white);
}

.result h2,
.result-info,
.findings h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.result{
  display: flex;
  flex-direction: row;
  padding: 19px 73px 15px 73px;
  align-items: center;
}

.result-info {
  margin: 0;
  margin-right: 48px;
}

.result-sort {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.result ul{
  display: flex;
  padding: 0;
  margin-left: 42px;
  margin-right: 42px;
}

.result-value-cost,
.result-value-type,
.result-value-rating {
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  margin-right: 33px;
}

.result-value-cost a{
  color: var(--basic-sky-blue);
}

.result-value-type a,
.result-value-rating a{
  opacity: 0.3;
  border-bottom-style: dotted;
  border-bottom-color: var(--basic-sky-blue);
}

.result-value-cost:active a,
.result-value-type:active a,
.result-value-rating:active a,
.result-value-cost:hover a,
.result-value-type:hover a,
.result-value-rating:hover a{
  opacity: 1;
}


.result-value-cost:hover a,
.result-value-type:hover a,
.result-value-rating:hover a {
  color: var(--basic-sky-blue);
  border-bottom-style: dotted;
}

.result-value-cost:active a,
.result-value-type:active a,
.result-value-rating:active a {
  color: var(--basic-black);
  border-bottom-style: none;
}

.button-sort{
  outline: none;
  border: none;
  padding: 0;
  margin-left: 8px;
  margin-top: 12px;
  background-color: transparent;
}

.button-sort:hover path{
  fill: var(--basic-black);
  outline: none;
  border: none;
}

.button-sort:active path {
  fill: var(--basic-sky-blue);
  outline: none;
  border: none;
}

.pushbuttons {
  margin-right: 0;
  margin-left: auto;
}

.findings ul{
  padding: 0;
  margin-top: 7px;
}

.findings li{
  display: flex;
  flex-direction: row;
  padding: 25px 74px 28px 74px;
  border-top: solid;
  border-top-width: 1px;
  border-top-color: var(--special-button-border);
}

.findings:last-child li{
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--special-button-border);
}

.findings {
  display: grid;
  grid-template-rows: 150px 150px 150px;
}

.findings-item {
  list-style: none;
  padding: 0;
  position: relative;
}

.findings-item img {
  height: 90px;
  width: 135px;
  padding-top: 5px;
}

.findings-item-info{
  display: grid;
  grid-template-columns: minmax(50px, 110px) minmax(50px, 142px);
  grid-template-rows: 30px 36px 29px;
  grid-column-gap: 5px;
  margin: 0px 0px 0px 29px;
}

.findings-item-name {
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  font-weight: bold;
}

.findings-item-name,
.findings-item-info p,
.findings-item-info button{
  margin: 0;
}

.findings-item-rating{
  margin-left: auto;
  padding-top: 4px;
}

.findings-item-rating p{
  position: absolute;
  display: block;
  background-color: var(--basic-extra-light-grey);
  color: var(--special-dark-grey) ;
  bottom: 17px;
  right: 73px;
  padding: 3px 15px;
  text-align: center;
}

.findings-item-rating span{
  display: block;
  background-image: url("../img/icons/star.svg");
  background-repeat:space;
  height: 17px;
}

.star-fourth{
  width: 86px;
}

.star-three {
  width: 63px;
}

.star-two {
  width: 39px;
}

.button-info-catalog,
.button-bron{
  color: var(--basic-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  width: 110px;
  border: none;
  outline: none;
}

.button-info-catalog{
  background-color: var(--basic-sky-blue);
  width: 110px;
}

.button-bron{
  background-color: var(--basic-light-brown);
  width: 142px;
}

.button-info-catalog:hover,
.button-find:hover,
.social-button:hover{
  background-color: var(--sky-blue-place);
}

.button-bron:hover{
  background-color: var(--basic-dark-brown);
}

.button-info-catalog:focus,
.button-find:focus,
.social-button:focus{
  background-color: var(--sky-blue-press);
}

.button-bron:focus {
  background-color: var(--basic-extra-dark-brown);
}

.button-info-catalog:active,
.button-bron:active,
.button-find:active {
  color: var(--special-white-text);
}
