:root {
--basic-black: #000000;
--basic-sky-blue: #81B3D2;
--sky-blue-place: #669EC0;
--sky-blue-press: #5496BD;
--basic-white: #FFFFFF;
--basic-dark-grey: #333333;
--basic-light-grey: #EEEEEE;
--basic-extra-light-grey: #F2F2F2;
--light-grey-place: #EBEBEB;
--basic-light-brown: #766357;
--basic-dark-brown: #604E43;
--basic-extra-dark-brown: #503E33;

--special-grey: #A9A9A9;
--special-dark-grey: #666666;
--special-light-grey: #CACACA;
--special-grey: #A9A9A9;
--special-normal-grey: #888888;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans","Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-extra-light-grey);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*GRID*/

.page{
  height: 100%;
}

.wrapper {
  width: 1200px;
  background-color: var(--basic-white);
  margin: 0 auto;
  min-height: 100%;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-navigation {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav ul{
}

.site-navigation{
  list-style: none;
  font-weight: bold;
  line-height: 26px;
  display: flex;
  padding: 15px 72px;
  margin-bottom: 0;
  margin-top: 0;
}

.site-navigation li {
  width: 227px;
  }

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4){
  text-align: right;
}


.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-sky-blue);
}


.main-promo {
  text-align: center;
}

.introduction {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 36px;
}

.introduction p {
  line-height: 26px;
}

.features-list,
.features-item,
.features-subtype {
  list-style: none;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
}

.first-item {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--basic-sky-blue);
}

.first-item img {

}

.first-item ul {
  padding: 0;
}

.features-under{
  display: flex;
  text-align: center;
}

.features-block{
  width: 400px;
  text-align: center;

  background-color: var(--basic-sky-blue);
  color: var(--basic-white);
}

.third-item{
  width: 400px;
  background-color: var(--basic-light-grey);
}

.features-subtype{
  width: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--basic-white);
}

.second-item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
}

.second-item img {
}

.form-wrapper{
}


.appointment {
  text-align: center;
}
.appointment h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.appointment-form{
display: flex;
flex-direction: column;
}

.appointment-form div:nth-child(1),
.appointment-form div:nth-child(2){
}

.appointment-form div:nth-child(3),
.appointment-form div:nth-child(4){
}




.appointment-item {

}

.appointment-datain {
  font-weight: bold;
  line-height: 18px;
}

.text {
  background-color: var(--basic-extra-light-grey);
}

.text:hover,
.text:focus {
  background-color: var(--light-grey-place);
}

.text:active {
}

.button-info-index {
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.button-info:hover,
.button-info:focus {
  background-color: var(--basic-dark-brown);
}

.button-info:active {
  background-color: var(--basic-extra-dark-brown);
}

.button-find {
  color: var(--basic-white);
  background-color: var(--basic-sky-blue);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
}

.button-find:active {
  background-color: var(--sky-blue-press);
}

.appointment-item {
  font-weight: bold;
  line-height: 26px;
}

.button {
  background-color: var(--special-dark-grey);
  font-weight: bold;
  line-height: 26px;
}

.calendar {
  background-color: var(--special-dark-grey);
  font-weight: bold;
  line-height: 26px;
}

.map {
  text-align: center;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contacts {
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}



/*---------- CATALOG ------------*/


.filtres {
  background-color: var(--basic-sky-blue);

}
.filtres-form {
  font-size: 16px;
  color: var(--basic-white);
  display: flex;
  flex-direction: row;
}

.filtres-form div:nth-child(1),
.filtres-form div:nth-child(2) {
  text-align: left;
}

.filtres-form div:nth-child(3) {
  text-align: center;
  }

.filtres-submit {
}

.filtres-item {
  display: flex;
  flex-direction: column;
  padding: 27px 72px;
}

.filtres-form div:nth-child(3){

}

.filtres-item h3 {
font-weight: bold;
font-size: inherit;
}

.result h2,
.result-info,
.findings h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.result{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.result-value {
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  display: inline-block;
}

.findings ul{
  padding: 0;
}

.findings li{
  display: flex;
  flex-direction: row;
  padding: 30px 73px;



}

.findings-item {
  list-style: none;
  padding: 0;

}

.findings-item img {
  height: 90px;
  width: 135px;
}

.findings-item-info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 3;
  }

.button-info-catalog{
  color: var(--basic-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-sky-blue);
  width: 110px;
}

.button-bron{
  color: var(--basic-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-light-brown);
  width: 142px;
}

/* -----Лишние обозначение-----*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
